---
layout: default
---

<div class="row listrecent" data-layout="categories">
  <div class="section-title col-md-12 mt-4">
    <h2>
      Category
      <span class="text-capitalize">{{ page.title | default: page.category }}</span>
    </h2>
  </div>

  {% if paginator and paginator.posts %}
    {% for post in paginator.posts %}
      {% include postbox3.html post=post %}
    {% endfor %}
  {% elsif page.posts %}
    {% for post in page.posts %}
      {% include postbox3.html post=post %}
    {% endfor %}
  {% elsif page.category %}
    {% assign target = page.category %}
    {% for post in site.posts %}
      {% assign hit = false %}
      {% if post.categories and post.categories contains target %}{% assign hit = true %}{% endif %}
      {% if hit == false and post.category and post.category contains target %}{% assign hit = true %}{% endif %}
      {% if hit %}{% include postbox3.html post=post %}{% endif %}
    {% endfor %}
  {% endif %}
</div>

<section class="navigation">
  <span class="navigation" role="navigation">
    {% include pagination.html %}
  </span>
</section>
